body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.landing {
    width: 100%;
    height: 100vh;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#auth-card {
    min-width: 350px;
    min-height: 200px;
    padding: 10px;
}

.align-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.align-text>svg {
    margin-right: 3px;
}